{% form_theme form 'tailwind_2_layout.html.twig' %}

<div class="flex flex-col justify-center mb-4">
    {{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="flex items-center mb-4">
        <div class="mr-2 font-bold">
            {{ form_label(form.category) }}
        </div>
        <div class="mr-2">
            {{ form_widget(form.category) }}
        </div>
        <div class="mr-2 font-bold">
            {{ form_label(form.priceMin) }}
        </div>
        <div class="mr-2">
            {{ form_widget(form.priceMin, {'attr': {'class': 'w-32'}}) }}
        </div>
        <div class="mr-2 font-bold">
            {{ form_label(form.priceMax) }}
        </div>
        <div class="mr-2">
            {{ form_widget(form.priceMax, {'attr': {'class': 'w-32'}}) }}
        </div>
        <div class="mr-2 font-bold">
            {{ form_label(form.createdAt) }}
        </div>
        <div>
            {{ form_widget(form.createdAt) }}
        </div>
    </div>

    <div class="flex items-center mb-4">
        <div class="mr-2 font-bold">
            {{ form_label(form.sortItem) }}
        </div>
        <div>
            {{ form_widget(form.sortItem) }}
        </div>
        <div class="ml-2 mr-2 font-bold">
            {{ form_label(form.sortType) }}
        </div>
        <div>
            {{ form_widget(form.sortType) }}
        </div>
    </div>

    <div class="flex items-center justify-normal">
        <button class="text-white bg-green-500 hover:bg-green-600 active:bg-green-700 px-3 py-2 rounded-md block transition-all duration-200 ml-1 mr-2">
            {{ button_label|default('Filter') }}
        </button>
        <a href="{{ path('app_expense_index') }}"
           class="text-white bg-red-500 hover:bg-red-600 active:bg-red-700 px-3 py-2 rounded-md block transition-all duration-200">
            Clear filter
        </a>
    </div>

    {{ form_end(form) }}
</div>
